/* Top hero section */

body {
    font-family: "Hack Nerd Font", "Hack", monospace;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-algin: center;
    color: #eaeaea;
}

.about {
    padding: 40px 50px;
    font-size: 18px;
    margin: 0 auto;
    max-width: 1000px;
    
}

.title .highlight {
    color: #9501FA;
}

.title {
    font-size: 35px;
}

.topBlock {
    background: linear-gradient(to bottom right, #171729, #54018e);
    padding: 10vh 5vh;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 40px;
}

.buttonStack {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

.buttonStack .callButton,
.buttonStack .aboutButton {
    background: #eaeaea;
    color: #484848;
    padding: 5px 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Hack Font", "Hack", monospace;
    cursor: pointer; 

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.aboutButton:hover,
.callButton:hover { 
    color: #9501FA;
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
}


/* My mission section */

.missionSection {
    color: #484848;
    padding: 10vh 4vh;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

/* Tools */
.tools {
    color: #484848;
    padding: 0vh 4vh;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;

}

.tool-list {
    color: #484848;
    display: flex;
    flex-direction: column;
}

.tool-icon {
    color: #484848;
}

.tool-icon .icon {
    
    color: #9501FA;
}

.tool-icon .icon svg {
    display: inline-flex;
    font-size: 0;
    align-items: center;
    margin-right: 0.3em;
}
